[submodule "dependencies/raylib"]
	path = dependencies/raylib
	url = git@github.com:raysan5/raylib.git
[submodule "dependencies/flecs"]
	path = dependencies/flecs
	url = git@github.com:SanderMertens/flecs.git
